@import "tailwindcss";
body{
  background-color: rgb(16, 16, 16);
}
.gray{
  background-color: rgb(29, 29, 29);
}
.lightgray{
  background-color: rgb(53, 53, 53);
}
.roboto{
  font-family: roboto;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #2b2b2b; /* Dark track */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #555; /* Dark thumb */
  border-radius: 10px;
}
/* @media (width<=1000px) {
  .tab{
    padding: 2px;
    width: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .imgcontainer{
    
    width: 80px;
    height: 50px;
   
  }
  .suninfo{
    margin: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .suntime{
    font-size: 15px;
  }
  .statuscard{
    border: 2px solid red;
    font-size: 15px;
  }
  .wind{
    display: flex;
    border: 2px solid red;
    justify-content: center;
    align-items: center;
    padding: 2px;

  }
} */
