@import "tailwindcss";
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}
body{
  background-color: rgb(16, 16, 16);
}
.gray{
  background-color: rgb(29, 29, 29);
}
.lightgray{
  background-color: rgb(53, 53, 53);
}
.roboto{
  font-family: roboto;
}
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background: #2b2b2b47; /* Dark track */
  backdrop-filter: blur(10px);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #555; /* Dark thumb */
  border-radius: 10px;
}
/* @media (width<=1000px) {
  .tab{
    padding: 2px;
    width: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .imgcontainer{
    
    width: 80px;
    height: 50px;
   
  }
  .suninfo{
    margin: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .suntime{
    font-size: 15px;
  }
  .statuscard{
    border: 2px solid red;
    font-size: 15px;
  }
  .wind{
    display: flex;
    border: 2px solid red;
    justify-content: center;
    align-items: center;
    padding: 2px;

  }
} */
.glassmorphism {
  border: solid 2px rgba(247, 245, 245, 0.226);
  background-color: rgba(78, 78, 78, 0.267);
  backdrop-filter: blur(10px);
}
.glassmorphism_inside{
  border: solid 2px rgba(247, 245, 245, 0.226);
  background-color: rgba(89, 89, 89, 0.145);
  backdrop-filter: blur(10px);
  color: rgb(255, 254, 254);
}
.bg-Clear {
  background-image: url('/clearbackground.jpg');
  background-size: cover;
  background-position: contain;
}
.bg-Clouds {
  background-image: url('/cloudbackground.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.bg-Dust {
  background-image: url('/Dust.jpg');
  background-size: cover;
  background-position: contain;
}
.bg-Rain {
  background-image: url('/rainybackground.gif');
  background-size: cover;
  background-position: contain;
}
.bg-Thunderstorm {
  background-image: url('/thunderstormbackground.gif');
  background-size: cover;
  background-position: contain;
}
.bg-Haze {
  background-image: url('/Haze.jpg');
  background-size: cover;
  background-position: contain;
}
.bg-Mist {
  background-image: url('/mist.jpg');
  background-size: cover;
  background-position: contain;
}
.bg-Drizzle {
  background-image: url('/drizzle.jpg');
  background-size: cover;
  background-position: contain;
}
.bg-Sand {
  background-image: url('/Sand.jpg');
  background-size: cover;
  background-position: contain;
}
.bg-Snow {
  background-image: url('/Snow.jpg');
  background-size: cover;
  background-position: contain;
}
.bg-Smoke {
  background-image: url('/Smoke.png');
  background-size: cover;
  background-position: contain;
}
.image-container  {
  width: 100%;
  height: 100%;
  object-fit: cover; /* fills div without overflow or stretch */
  object-position: center;
}
.image-container img{
  width: 100%;       /* or any fixed width */
  height: 100vh;     /* or dynamic height */
  overflow: hidden;
  position: relative;
} 
.loadingState{
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}
.loadingState i{
  opacity: 0.2;
  font-size: 3rem;
}